.home{
    background-color:black;
}

.hook{
    border: solid white 2px;
    margin-top: 50px;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hookText{
    color: aliceblue;
    font-size: 4.5rem;
}

.profilePictureCont{
    border: solid white 2px;
    height: 40rem;
    display: flex;
    justify-content: center;

}

.profileImage{
    width: 30rem;
    border-radius: 15rem;
    margin-top: 50px;
}

.intro{
    border: solid white 2px;
    height: 40rem;
    padding-top: 50px;
    color: aliceblue;
    font-size: 1.5rem;
}
