.home{
    background-color:black;
}

.hook{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.hookText{
    color: aliceblue;
    font-size: 4.5rem;
}

@media only screen and (max-width: 700px){
    .hookText{font-size: 3rem;}
}

@media only screen and (min-width: 1000px){
    .hook{margin-bottom:2rem;}
}

.introContFlex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 1000px){
    .introContFlex{flex-direction: column;}
}

.profilePictureCont{
    padding: 50px;
}

.profileImage{
    display: block;
    width: 100%;
    min-width: 30rem;
    height: auto; 
    border-radius: 50%;    
}

@media only screen and (max-width: 1200px){
    .profileImage{min-width: 20rem;}
}

@media only screen and (max-width: 1000px){
    .profileImage{max-width: 20rem;}
}


.intro{
    padding: 0.5rem;
    margin:1rem;
    color: aliceblue;
    font-size: 1.5rem;
    background-color:rgba(240, 248, 255, 0.2);
}

.subtitle{
    font-family: 'Allison';
    font-size: 3.1rem;
}