.navbar-brand{
    font-family: 'Allison';
    color: aliceblue !important;
    font-size: 6rem;
    margin-top: -20px;
    margin-bottom: -20px;
}

@media only screen and (max-width: 576px){
    .navbar-brand{font-size: 5rem;}
}

.navbar{
    background-image: url(../../../public/images/pawel-czerwinski-Moiprruv4Rw-unsplash.2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-link{

    background: none;
    border: none;
    color: aliceblue !important;
}

.projectmenulabel{
    margin-top: -7px
}

@media only screen and (max-width: 992px){
    .projectmenulabel{margin-top: 0px}
}

.navbar-toggler{
    color: aliceblue !important;
    background-color: aliceblue;
}

#navlinkcont{
    display: flex;
    justify-content: end;
}

.dropdown-item:hover{
    background-color: black;
}

