.mainCont{
    background-color: black;
}

.AboutMeCont{
    display: flex;
    width: 100%;
    padding-top: 80px;
}

#aboutMeFirstCont{
    align-items: center;
}


#profileImageAboutMeCont{
    width: 40%;
}

#profileImageAboutMe{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 50%;
    box-shadow: 
    0px 0px 20px 25px rgba(240, 248, 255, 0.11) ,
    -0px -0px 20px 25px rgba(240, 248, 255, 0.11);
}

#IntroAboutMeCont{
    width: 60%;
}

#aboutMePara1{
    color: aliceblue;
    margin-right: 1rem;
}

.aboutMeSecondCont{
    justify-content:space-evenly;
    padding-top: 80px;
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.AboutMeContAnim{
    justify-content:space-evenly;
    padding-top: 80px;
    opacity: 1;
    transform: none;
    visibility: visible;
}



.aboutMePic{
    width:25%;
    border-radius: 20%;
}

